@font-face { 
  font-family: 'Neue Montreal'; 
  src: url('fonts/NeueMontreal-Regular.otf'); 
  font-weight: 400;
  font-style: normal;
}

@font-face { 
  font-family: 'Neue Montreal'; 
  src: url('fonts/NeueMontreal-Medium.otf'); 
  font-weight: 500;
  font-style: normal;
}

@font-face { 
  font-family: 'Neue Montreal'; 
  src: url('fonts/NeueMontreal-Medium.otf'); 
  font-weight: 500;
  font-style: normal;
}

@font-face { 
  font-family: 'GT Super Text'; 
  src: url('fonts/GTSuperText-Book.otf'); 
  src: url("fonts/GTSuperText-Book.woff2") format("woff2");
  src: url("fonts/GTSuperText-Book.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face { 
  font-family: 'JetBrains Mono'; 
  src: url('fonts/JetBrainsMono-Regular.ttf'); 
  src: url('fonts/JetBrainsMono-Regular.woff2') format("woff2"); 
  src: url('fonts/JetBrainsMono-Regular.woff') format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face { 
  font-family: 'JetBrains Mono'; 
  src: url('fonts/JetBrainsMono-SemiBold.ttf'); 
  font-weight: 600;
  font-style: normal;
}

/* THEME 1: ocean */
:root {
  --bg-color: #687D89;
  --accent-color: #C6D184;
  --title-text-color: rgba(255, 255, 255, 0.8);
  --heading-text-color: rgba(255, 255, 255, 0.7);
  --body-text-color: rgba(255, 255, 255, 0.7);
  --border-color: rgba(255, 255, 255, 0.15);
  --toolbar-bg: rgba(10, 10, 10, 0.50);
  --toolbar-backdrop-filter: blur(8px);
  --sleep-animation: sleepBackground 10s linear forwards;
  --toolbar-item-bg: rgba(61, 61, 61, 0.40);
  --toolbar-item-disabled-color: #777;
  --toolbar-item-color: #AAA;
  --highlight-text-color: #000;
  --hover-a-color: hsla(0,0%,100%,.1);
  --hover-button-disabled-color: rgba(255, 255, 255, 0.5);
}

/* THEME 2: purple */
[data-theme="purple"] {
  --bg-color: linear-gradient(113deg, #FBF9FD -9.64%, #F0F7FE 106.95%);
  --accent-color: #50228A;
  --title-text-color: rgba(0, 0, 0, 0.8);
  --heading-text-color: rgba(0, 0, 0, 0.7);
  --body-text-color: rgba(0, 0, 0, 0.7);
  --border-color: rgba(0, 0, 0, 0.1);
  --toolbar-bg: rgba(255, 255, 255, 0.7);
  --toolbar-backdrop-filter: blur(2px);
  --sleep-animation: none;
  --toolbar-item-bg: rgba(255, 255, 255, 0.70);
  --toolbar-item-disabled-color: #999;
  --toolbar-item-color: #555;
  --highlight-text-color: #FFF;
  --hover-a-color: hsla(0,0%,0%,.1);
  --hover-button-disabled-color: rgba(0, 0, 0, 0.5);
}

.ph-bold {
  font-size: 14px;
}

/* Define the keyframes for the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-on-load {
  opacity: 0; /* Set the initial opacity to 0 */
  animation: fadeIn .3s ease forwards; /* Use "forwards" to retain the final state */
  animation-delay: 0.7s;
}

/* TODO: sleep background only works in ocean mode. The whole thing needs to change*/
@keyframes sleepBackground {
  0% {
    background-color: var(--bg-color);
  }
  50% {
    background-color: #282e31;
  }
  100% {
    background-color: #181d1f;
  }
}

@keyframes sleepSVG {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}


/* Just for the name */
h1 {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Neue Montreal', sans-serif;
  color: var(--title-text-color);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 136.364% */
  letter-spacing: 0.5px;
  margin: 0px;
}

/* Subheadings, Titles */
h2{
  color: var(--heading-text-color);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Neue Montreal', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 111.111% */
  margin: 0px;
}

/* Long text */
p.large {
  color: var(--heading-text-color);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'GT Super Text', serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 164.706% */
  letter-spacing: -0.1px;
  margin: 0px;
}

p.small {
  color: var(--body-text-color);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'GT Super Text', serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px; /* 146.667% */
  letter-spacing: -0.1px;
  margin: 0px;
}

p.decorative {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'JetBrains Mono', monospace;
  color: rgba(255, 255, 255, 0.50);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}

/* Noise */
body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('assets/noise.png');
  opacity: 0.6;
  background-repeat: repeat;
  mix-blend-mode: overlay;
  z-index: -1;
}

/* Solid background.*/
body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  background: var(--bg-color);
  animation: var(--sleep-animation);
  animation-delay: 20s;
  min-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  margin: 0;
  /* padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom); */
}

/* Light Vector */
body::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/light.svg'); /* Initial background image */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0; /* Set the initial opacity to 0 */
  animation: fadeIn 2s ease forwards, sleepSVG 8s linear forwards; /* Use "forwards" to retain the final state */
  animation-delay: 1.2s, 20s;
  z-index: -1;
}

div.header {
  display: flex;
  padding: 16px 40px;
  align-items: center;
  gap: 12px;
  /* align-items: flex-start; */
  gap: 10px;
  align-self: stretch;
  border-bottom: 1px solid var(--border-color);
}

div.main {
  display: flex;
  padding: 32px 40px 60px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  flex: 1;
  overflow-x: hidden;
  scrollbar-width: thin;
}

body {
  overflow-y: clip;
}

div.work-list {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

div.work-item {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0px 24px;
  align-self: stretch;
  flex-wrap: wrap;
}

div.work-title-descr {
  display: flex;
  min-width: 300px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  flex: 1 0 0;
}

div.colophon {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 32px;
  align-self: stretch;
  flex-wrap: wrap;
}

div.colophon-section {
  display: flex;
  min-width: 300px;
  max-width: 500px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}

div.name-and-nav {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 8px 48px;
  align-self: stretch;
  flex: 1 0 0;
  flex-wrap: wrap;
}

div.nav {
  display: flex;
  min-width: 240px;
  align-items: flex-start;
  gap: 4px;
  
  /* for left text alignment on wrap: */
  margin-left: -8px; 
}

/* Define the keyframes for the fade-in animation */
@keyframes moveIn {
  from {
    bottom: -60px;
  }
  to {
    bottom: 0px;
  }
}
div.toolbar {
  position: absolute;
  bottom: -60px;
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 4px;
  background: var(--toolbar-bg);
  backdrop-filter: var(--toolbar-backdrop-filter);
  animation: moveIn .6s ease forwards;
  animation-delay: 1.2s;
  overflow-x: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.toolbar::-webkit-scrollbar {
  display: none;
}

div.toolbar-item {
  display: flex;
  position: relative; 
  padding: 8px;
  align-items: center;
  gap: 16px;
  background: var(--toolbar-item-bg);
  align-self: stretch;
  white-space: nowrap;
}

div.toolbar-item:hover {
  cursor: pointer;
}

div.toolbar-item span {
  color: var(--toolbar-item-color);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'JetBrains Mono';
  font-size: 12px;
  font-weight: 500;
  line-height: 18px; /* 150% */
  text-transform: uppercase;
}

div.toolbar-item i {
  color: var(--toolbar-item-color);
}

/* div.toolbar-disabled span div i { */
div.toolbar-disabled span {
  cursor: default;
  color: var(--toolbar-item-disabled-color);
}

div.toolbar-disabled div i {
  cursor: default;
  color: var(--toolbar-item-disabled-color);
}

div.icon-text {
  display: flex;
  align-items: center;
  gap: 6px;
}

hr {
  background: #FFF;
  opacity: 10%;
  height: .5px;
  margin: 0;
  width: 100%;
  border-style: outset;
}

hr.half {
  max-width: 500px;
}

a {
  font-family: 'Neue Montreal', sans-serif;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

a.green {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  border-bottom: 1.5px dotted;
  background-color: var(--hover-a-color);
}

a.green:hover {
  text-decoration: none;
  border-bottom: none;
  background-color: var(--accent-color);
  color: var(--highlight-text-color);
}

/* a.green:hover::after{
  content: "! ↗";
} */

a:after {
  content: " ↗";
}

span.subtle {
  color: var(--body-text-color);
}

::selection {
  background-color: var(--accent-color);
  color: var(--highlight-text-color); 
}

button.header {
  padding: 4px 8px;
  border-radius: 6px;
  background: none;
  border: none;
}

button.header span {
  /* copied from h2 */
  color: var(--body-text-color);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Neue Montreal', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 111.111% */
}

button.header:hover {
  background: rgba(0, 0, 0, 0.10);
  cursor: pointer;
}

button.disabled:hover::before {
  /* copied from h2 */
  color: var(--hover-button-disabled-color);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Neue Montreal';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 111.111% */
  content: "Still cooking...";
}

button.disabled:hover {
  background: none;
  cursor: default;
}

button.disabled:hover span {
  display: none;
}

#cursor-stats-clickable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  z-index: 1; 
  cursor: pointer; 
}